/*
########### SELECTORES ########### 
*/

/*Selector universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector de etiqueta*/
h1{
    background-color: red;
    color: white;
    padding: 10px;
}

a{
    color: green;
}

footer a{
    color: red;
}
/*Selector de id*/
#descripcion{
    border: 5px solid black;
    padding: 15px;
}

#titulo{
    background-color: blue;
    border: 5px dashed greenyellow;
}

#descripcion, #titulo{
    text-transform: uppercase;
}
/*Selector de clase*/
.parrafo{
    font-style: italic;
    font-weight: bold;
    text-transform: lowercase;
    padding: 15px;
}

.parrafo1{
    background-color: green;
    color: white;
}

.parrafo3{
    background-color: orange;
    color: black;
}

/*Selector de atributo*/