@font-face{
    font-family: DidactGothicCustom;
    src: url(fonts/DidactGothic-Regular.ttf);
}

body{
    background-color: aquamarine;
}

h1{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: DidactGothicCustom,'Times New Roman', Times, serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 17px;
}