/*Fuentes personalizadas*/
@font-face{
    font-family: DidactGothicCustom;
    src: url(fonts/DidactGothic-Regular.ttf);
}

body{
    background-color: aquamarine;
}

h1{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 45px;

    /*Colores*/

    /*Colores del sistema*/
    color: chartreuse;

    /*Colores hexadecimales*/
    color: #d827dfcc;

    /*Colores RGB*/
    color: rgb(247, 188, 25);

    /*Colores RGBA*/
    color: rgba(247, 188, 25,0.6);

}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: DidactGothicCustom,'Times New Roman', Times, serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 17px;
}